<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472080818420-ujdlmd7t263ris41otkffke3rfiphr5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472080818420-ujdlmd7t263ris41otkffke3rfiphr5h</string>
	<key>API_KEY</key>
	<string>AIzaSyAvuETIHpnYaHShxJjXxNlQ7dIjJkB3z20</string>
	<key>GCM_SENDER_ID</key>
	<string>472080818420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.mark.app.mktApp</string>
	<key>PROJECT_ID</key>
	<string>markapp-78857</string>
	<key>STORAGE_BUCKET</key>
	<string>markapp-78857.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472080818420:ios:6ec4bed0e6532addfa7ea1</string>
</dict>
</plist>